@model RESTClient.DTOs.ProductDTO

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

@using (Html.BeginForm("AddToCart", "OrderLine", "post"))
{
	<div>
		<h4>ProductViewModel</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Brand)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Brand)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Price)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Price)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Description)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Barcode)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Barcode)
			</dd>
			<dt class="col-sm-2">
				Add to cart
			</dt>
			<dd class="col-sm-2">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="col-sm-3">
					<div class="form-group">
						<input name="Barcode" class="form-control" type="hidden" value="@Model.Barcode" />
						<span asp-validation-for="@Model.Barcode" class="text-danger"></span>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-group">
						<input name="Quantity" class="form-control mb-2" value="1" style="center" />
					</div>
				</div>
			</dd>
			<dd>
				<div class="col-sm-auto offset-2">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Add to Cart</button>
					</div>
				</div>
			</dd>
		</dl>
	</div>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
}
